html, body{
  background: black;
  height: 300px;
  width: 300px;
}
.codebox{
  border: 1px solid green;
  color: green;
  width: 281px;
  height: 230px;
  font-size: 9px;
}

.codeInput{
  font-size: 9px;
}

textarea.codeInput{
  width: 281px;
  height: 230px;
  border: 1px solid green;
  color: green;
  background-color: black
}
.control{
  margin-top: 5px;
  clear:both;
}

.control.btns{
    border: none;
    font-size: 1.5em;
    color: white;
    padding-top: 5px;
}
.control button{
  width: 100px;
  border: none;
  color: white;
}

.control.btns button[name='save']{
  background-color: green;
  float: left;

}
.control.btns button[name='edit']{
  background-color: red;
  float: right;
}
.control button[name='copyObj']{
  background-color: blue;
  float: right;
}

.control button[name='bugObj']{
  background-color: red;
  float: left;
}

.control a{
  color: red;
  text-decoration: none;
}

/*sweet alert*/
.sweetAlertCustom {
  margin: 0 !important;
  background-color: black !important;
  border: 2px solid green !important;
  top: 15px !important;
  left: 15px !important;
  right: 15px !important;
}
.sweet-overlay{
  height: 0px !important;
  width:  0px !important;
}
.sweet-alert{
  padding: 0px !important;
}
